<h2> List of Users </h2>

<% if session[:user_id] %>
	<h3>Welcome <%= @user.email %>!</h3>
	<h3><%= link_to "Logout", login_path, method: :delete %></h3>
<% else %>
	<h3><%= link_to "New User", users_new_path, class: 'btn' %></h3>
	<h3><%= link_to "Login", login_path, class: 'btn' %></h3>
<% end %>

<div>
<ul>
<% @users.each do |user| %>
	<li><%= user.email %></li>
	<% end %>
</ul>

</div>
